body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background: url('src/images/tomorrowland.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .druggie ,.slider,.addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:50px solid red;
  border-radius:10px;
  position:absolute;
}

.lineup{
  left:0 !important;
}

.move-dancer{
  position:relative;
}
